body {
  background: #eaeaea;
}

#root {
  min-width: 230px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 550px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Helvetica";
}

.list {
  width: 550px;
  background: #f7f7f7;
  z-index: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.list input[type=text] {
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  height: 40px;
  border: none;
  background-color: inherit;
  font-size: 20px;
  color: #666666;
  padding-right: 30px;
  box-shadow: none;
}

.list input[type=text]:focus {
  background-color: #fcfcfc;
  border: none;
}

#new-task {
  background: #f7f7f7;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.task {
  width: auto;
  height: auto;
  border: solid 1px #cccccc;
  box-shadow: none;
}

.task input[type=checkbox] {
  zoom: 1.6;
  float: left;
  margin: 0;
  padding: 0;
  margin-top: 7px;
  margin-left: 5px;
}

.task .text-container {
  position: relative;
  display: block;
  overflow: hidden;
  width: auto;
}

.task .text-container .arrow {
  display: none;
  position: absolute;
  right: 3px;
  top: 7px;
  height: 30px;
  width: 30px;
}

.task .task-description {
  padding: 5px 15px 5px 15px;
  border-top: solid 1px #dddddd;
}

.task .task-description a {
  color: #aa5555;
  float: right;
}

.task .task-description .info {
  color: #444444;
}

.task .task-description span {
  font-family: "Helvetica";
  font-size: 15px;
}

.task .task-description textarea {
  display: block;
  border: solid 1px #cecece;
  border-radius: 5px;
  margin-top: 3px;
  width: 100%;
}

.done input[type=text] {
  text-decoration: line-through;
}

.task:hover {
  background: #fefefe;
}

.task:hover .text-container .arrow {
  display: block;
}

.summary {
  background: #eeeeee;
  width: 100%;
  box-sizing: border-box;
  height: 22px;
  border: 1px solid #AAAAAA;
  border-top: none;
  color: #656565;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.summary span {
  display: inline-block;
  height: 100%;
  font-family: "Helvetica";
  font-size: 14px;
  margin-right: 8px;
  padding: 0;
}

.summary .summary-done,
.summary .summary-todo {
  float: right;
}

.summary .actions {
  float: left;
}

.summary .actions a {
  color: #666666;
  margin-left: 8px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiL2hvbWUvZ2VvcmdlL1Byb2plY3RzL0phdmFTY3JpcHQvdG9kb3IvYXNzZXRzL3N0eWxlc2hlZXRzL2luZGV4LnNjc3MiLCJzb3VyY2VzIjpbIi9ob21lL2dlb3JnZS9Qcm9qZWN0cy9KYXZhU2NyaXB0L3RvZG9yL2Fzc2V0cy9zdHlsZXNoZWV0cy9pbmRleC5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbImJvZHkge1xuICBiYWNrZ3JvdW5kOiAjZWFlYWVhO1xufVxuXG4jcm9vdCB7XG4gIG1pbi13aWR0aDogMjMwcHg7XG4gIG1heC13aWR0aDogNTUwcHg7XG4gIG1hcmdpbi1sZWZ0OiBhdXRvO1xuICBtYXJnaW4tcmlnaHQ6IGF1dG87XG59XG5cbi5oZWFkZXIge1xuICB3aWR0aDogNTUwcHg7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgbWFyZ2luLWxlZnQ6IGF1dG87XG4gIG1hcmdpbi1yaWdodDogYXV0bztcbiAgZm9udC1mYW1pbHk6IFwiSGVsdmV0aWNhXCI7XG59XG5cbi5saXN0IHtcbiAgd2lkdGg6IDU1MHB4O1xuICBiYWNrZ3JvdW5kOiAjZjdmN2Y3O1xuICB6LWluZGV4OiA1MDA7XG4gIGJveC1zaGFkb3c6IDAgMCAxMHB4IHJnYmEoMCwwLDAsMC41KTtcbiAgaW5wdXRbdHlwZT10ZXh0XSB7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgYm94LXNpemluZzogYm9yZGVyLWJveDtcbiAgICBwYWRkaW5nOiA2cHg7XG4gICAgaGVpZ2h0OiA0MHB4O1xuICAgIGJvcmRlcjogbm9uZTtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiBpbmhlcml0O1xuICAgIGZvbnQtc2l6ZTogMjBweDtcbiAgICBjb2xvcjogIzY2NjY2NjtcbiAgICBwYWRkaW5nLXJpZ2h0OiAzMHB4O1xuICAgIGJveC1zaGFkb3c6IG5vbmU7XG4gIH1cbiAgaW5wdXRbdHlwZT10ZXh0XTpmb2N1cyB7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogI2ZjZmNmYztcbiAgICBib3JkZXI6IG5vbmU7XG4gIH1cbn1cblxuI25ldy10YXNrIHtcbiAgYmFja2dyb3VuZDogI2Y3ZjdmNztcbn1cblxudWwge1xuICAgIG1hcmdpbjogMDtcbiAgICBwYWRkaW5nOiAwO1xuICAgIGxpc3Qtc3R5bGU6IG5vbmU7XG59XG5cbi50YXNrIHtcbiAgICB3aWR0aDogYXV0bztcbiAgICBoZWlnaHQ6IGF1dG87XG4gICAgYm9yZGVyOiBzb2xpZCAxcHggI2NjY2NjYztcbiAgICBib3gtc2hhZG93OiBub25lO1xuICAgIGlucHV0W3R5cGU9Y2hlY2tib3hdIHtcbiAgICAgIHpvb206IDEuNjtcbiAgICAgIGZsb2F0OiBsZWZ0O1xuICAgICAgbWFyZ2luOiAwO1xuICAgICAgcGFkZGluZzogMDtcbiAgICAgIG1hcmdpbi10b3A6IDdweDtcbiAgICAgIG1hcmdpbi1sZWZ0OiA1cHg7XG4gICAgfVxuICAgIC50ZXh0LWNvbnRhaW5lciB7XG4gICAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgICBkaXNwbGF5OiBibG9jaztcbiAgICAgIG92ZXJmbG93OiBoaWRkZW47XG4gICAgICB3aWR0aDogYXV0bztcbiAgICAgIC5hcnJvdyB7XG4gICAgICAgIGRpc3BsYXk6IG5vbmU7XG4gICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICAgICAgcmlnaHQ6IDNweDtcbiAgICAgICAgdG9wOiA3cHg7XG4gICAgICAgIGhlaWdodDogMzBweDtcbiAgICAgICAgd2lkdGg6IDMwcHg7XG4gICAgICB9XG4gICAgfVxuICAgIC50YXNrLWRlc2NyaXB0aW9uIHtcbiAgICAgIHBhZGRpbmc6ICA1cHggMTVweCA1cHggMTVweDtcbiAgICAgIGJvcmRlci10b3A6IHNvbGlkIDFweCAjZGRkZGRkO1xuICAgICAgYSB7XG4gICAgICAgIGNvbG9yOiAjYWE1NTU1O1xuICAgICAgICBmbG9hdDogcmlnaHQ7XG4gICAgICB9XG4gICAgICAuaW5mbyB7XG4gICAgICAgIGNvbG9yOiAjNDQ0NDQ0O1xuICAgICAgfVxuICAgICAgc3BhbiB7XG4gICAgICAgIGZvbnQtZmFtaWx5OiBcIkhlbHZldGljYVwiO1xuICAgICAgICBmb250LXNpemU6IDE1cHg7XG4gICAgICB9XG4gICAgICB0ZXh0YXJlYSB7XG4gICAgICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgICAgICBib3JkZXI6IHNvbGlkIDFweCAjY2VjZWNlO1xuICAgICAgICBib3JkZXItcmFkaXVzOiA1cHg7XG4gICAgICAgIG1hcmdpbi10b3A6IDNweDtcbiAgICAgICAgd2lkdGg6IDEwMCU7XG4gICAgICB9XG4gICAgfVxufVxuXG4uZG9uZSB7XG4gIGlucHV0W3R5cGU9dGV4dF17XG4gICAgdGV4dC1kZWNvcmF0aW9uOiBsaW5lLXRocm91Z2g7XG4gIH1cbn1cblxuLnRhc2s6aG92ZXIge1xuICBiYWNrZ3JvdW5kOiAjZmVmZWZlO1xufVxuXG4udGFzazpob3ZlciAudGV4dC1jb250YWluZXIgLmFycm93IHtcbiAgZGlzcGxheTogYmxvY2s7XG59XG5cbi5zdW1tYXJ5IHtcbiAgYmFja2dyb3VuZDogI2VlZWVlZTtcbiAgd2lkdGg6IDEwMCU7XG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG4gIGhlaWdodDogMjJweDtcbiAgYm9yZGVyOiAxcHggc29saWQgI0FBQUFBQTtcbiAgYm9yZGVyLXRvcDogbm9uZTtcbiAgY29sb3I6ICM2NTY1NjU7XG4gIGJveC1zaGFkb3c6IDAgMCAxMHB4IHJnYmEoMCwwLDAsMC41KTtcbiAgei1pbmRleDogMTAwO1xuICBzcGFuIHtcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIGZvbnQtZmFtaWx5OiBcIkhlbHZldGljYVwiO1xuICAgIGZvbnQtc2l6ZTogMTRweDtcbiAgICBtYXJnaW4tcmlnaHQ6IDhweDtcbiAgICBwYWRkaW5nOiAwO1xuICB9XG4gIC5zdW1tYXJ5LWRvbmUsIC5zdW1tYXJ5LXRvZG8ge1xuICAgIGZsb2F0OiByaWdodDtcbiAgfVxuICAuYWN0aW9ucyB7XG4gICAgZmxvYXQ6IGxlZnQ7XG4gICAgYSB7XG4gICAgICBjb2xvcjogIzY2NjY2NjtcbiAgICAgIG1hcmdpbi1sZWZ0OiA4cHg7XG4gICAgfVxuICB9XG59XG4iXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsQUFBQSxJQUFJLENBQUM7RUFDSCxVQUFVLEVBQUUsT0FBTyxHQUNwQjs7QUFFRCxBQUFBLEtBQUssQ0FBQztFQUNKLFNBQVMsRUFBRSxLQUFLO0VBQ2hCLFNBQVMsRUFBRSxLQUFLO0VBQ2hCLFdBQVcsRUFBRSxJQUFJO0VBQ2pCLFlBQVksRUFBRSxJQUFJLEdBQ25COztBQUVELEFBQUEsT0FBTyxDQUFDO0VBQ04sS0FBSyxFQUFFLEtBQUs7RUFDWixVQUFVLEVBQUUsTUFBTTtFQUNsQixXQUFXLEVBQUUsSUFBSTtFQUNqQixZQUFZLEVBQUUsSUFBSTtFQUNsQixXQUFXLEVBQUUsV0FBVyxHQUN6Qjs7QUFFRCxBQUFBLEtBQUssQ0FBQztFQUNKLEtBQUssRUFBRSxLQUFLO0VBQ1osVUFBVSxFQUFFLE9BQU87RUFDbkIsT0FBTyxFQUFFLEdBQUc7RUFDWixVQUFVLEVBQUUsQ0FBQyxDQUFDLENBQUMsQ0FBQyxJQUFJLENBQUMsa0JBQWUsR0FpQnJDO0VBckJELEFBS0UsS0FMRyxDQUtILEtBQUssQ0FBQSxBQUFBLElBQUMsQ0FBRCxJQUFDLEFBQUEsRUFBVztJQUNmLEtBQUssRUFBRSxJQUFJO0lBQ1gsVUFBVSxFQUFFLFVBQVU7SUFDdEIsT0FBTyxFQUFFLEdBQUc7SUFDWixNQUFNLEVBQUUsSUFBSTtJQUNaLE1BQU0sRUFBRSxJQUFJO0lBQ1osZ0JBQWdCLEVBQUUsT0FBTztJQUN6QixTQUFTLEVBQUUsSUFBSTtJQUNmLEtBQUssRUFBRSxPQUFPO0lBQ2QsYUFBYSxFQUFFLElBQUk7SUFDbkIsVUFBVSxFQUFFLElBQUksR0FDakI7RUFoQkgsQUFpQkUsS0FqQkcsQ0FpQkgsS0FBSyxDQUFBLEFBQUEsSUFBQyxDQUFELElBQUMsQUFBQSxDQUFVLE1BQU0sQ0FBQztJQUNyQixnQkFBZ0IsRUFBRSxPQUFPO0lBQ3pCLE1BQU0sRUFBRSxJQUFJLEdBQ2I7O0FBR0gsQUFBQSxTQUFTLENBQUM7RUFDUixVQUFVLEVBQUUsT0FBTyxHQUNwQjs7QUFFRCxBQUFBLEVBQUUsQ0FBQztFQUNDLE1BQU0sRUFBRSxDQUFDO0VBQ1QsT0FBTyxFQUFFLENBQUM7RUFDVixVQUFVLEVBQUUsSUFBSSxHQUNuQjs7QUFFRCxBQUFBLEtBQUssQ0FBQztFQUNGLEtBQUssRUFBRSxJQUFJO0VBQ1gsTUFBTSxFQUFFLElBQUk7RUFDWixNQUFNLEVBQUUsaUJBQWlCO0VBQ3pCLFVBQVUsRUFBRSxJQUFJLEdBNkNuQjtFQWpERCxBQUtJLEtBTEMsQ0FLRCxLQUFLLENBQUEsQUFBQSxJQUFDLENBQUQsUUFBQyxBQUFBLEVBQWU7SUFDbkIsSUFBSSxFQUFFLEdBQUc7SUFDVCxLQUFLLEVBQUUsSUFBSTtJQUNYLE1BQU0sRUFBRSxDQUFDO0lBQ1QsT0FBTyxFQUFFLENBQUM7SUFDVixVQUFVLEVBQUUsR0FBRztJQUNmLFdBQVcsRUFBRSxHQUFHLEdBQ2pCO0VBWkwsQUFhSSxLQWJDLENBYUQsZUFBZSxDQUFDO0lBQ2QsUUFBUSxFQUFFLFFBQVE7SUFDbEIsT0FBTyxFQUFFLEtBQUs7SUFDZCxRQUFRLEVBQUUsTUFBTTtJQUNoQixLQUFLLEVBQUUsSUFBSSxHQVNaO0lBMUJMLEFBa0JNLEtBbEJELENBYUQsZUFBZSxDQUtiLE1BQU0sQ0FBQztNQUNMLE9BQU8sRUFBRSxJQUFJO01BQ2IsUUFBUSxFQUFFLFFBQVE7TUFDbEIsS0FBSyxFQUFFLEdBQUc7TUFDVixHQUFHLEVBQUUsR0FBRztNQUNSLE1BQU0sRUFBRSxJQUFJO01BQ1osS0FBSyxFQUFFLElBQUksR0FDWjtFQXpCUCxBQTJCSSxLQTNCQyxDQTJCRCxpQkFBaUIsQ0FBQztJQUNoQixPQUFPLEVBQUcsaUJBQWlCO0lBQzNCLFVBQVUsRUFBRSxpQkFBaUIsR0FtQjlCO0lBaERMLEFBOEJNLEtBOUJELENBMkJELGlCQUFpQixDQUdmLENBQUMsQ0FBQztNQUNBLEtBQUssRUFBRSxPQUFPO01BQ2QsS0FBSyxFQUFFLEtBQUssR0FDYjtJQWpDUCxBQWtDTSxLQWxDRCxDQTJCRCxpQkFBaUIsQ0FPZixLQUFLLENBQUM7TUFDSixLQUFLLEVBQUUsT0FBTyxHQUNmO0lBcENQLEFBcUNNLEtBckNELENBMkJELGlCQUFpQixDQVVmLElBQUksQ0FBQztNQUNILFdBQVcsRUFBRSxXQUFXO01BQ3hCLFNBQVMsRUFBRSxJQUFJLEdBQ2hCO0lBeENQLEFBeUNNLEtBekNELENBMkJELGlCQUFpQixDQWNmLFFBQVEsQ0FBQztNQUNQLE9BQU8sRUFBRSxLQUFLO01BQ2QsTUFBTSxFQUFFLGlCQUFpQjtNQUN6QixhQUFhLEVBQUUsR0FBRztNQUNsQixVQUFVLEVBQUUsR0FBRztNQUNmLEtBQUssRUFBRSxJQUFJLEdBQ1o7O0FBSVAsQUFDRSxLQURHLENBQ0gsS0FBSyxDQUFBLEFBQUEsSUFBQyxDQUFELElBQUMsQUFBQSxFQUFVO0VBQ2QsZUFBZSxFQUFFLFlBQVksR0FDOUI7O0FBR0gsQUFBQSxLQUFLLEFBQUEsTUFBTSxDQUFDO0VBQ1YsVUFBVSxFQUFFLE9BQU8sR0FDcEI7O0FBRUQsQUFBNEIsS0FBdkIsQUFBQSxNQUFNLENBQUMsZUFBZSxDQUFDLE1BQU0sQ0FBQztFQUNqQyxPQUFPLEVBQUUsS0FBSyxHQUNmOztBQUVELEFBQUEsUUFBUSxDQUFDO0VBQ1AsVUFBVSxFQUFFLE9BQU87RUFDbkIsS0FBSyxFQUFFLElBQUk7RUFDWCxVQUFVLEVBQUUsVUFBVTtFQUN0QixNQUFNLEVBQUUsSUFBSTtFQUNaLE1BQU0sRUFBRSxpQkFBaUI7RUFDekIsVUFBVSxFQUFFLElBQUk7RUFDaEIsS0FBSyxFQUFFLE9BQU87RUFDZCxVQUFVLEVBQUUsQ0FBQyxDQUFDLENBQUMsQ0FBQyxJQUFJLENBQUMsa0JBQWU7RUFDcEMsT0FBTyxFQUFFLEdBQUcsR0FtQmI7RUE1QkQsQUFVRSxRQVZNLENBVU4sSUFBSSxDQUFDO0lBQ0gsT0FBTyxFQUFFLFlBQVk7SUFDckIsTUFBTSxFQUFFLElBQUk7SUFDWixXQUFXLEVBQUUsV0FBVztJQUN4QixTQUFTLEVBQUUsSUFBSTtJQUNmLFlBQVksRUFBRSxHQUFHO0lBQ2pCLE9BQU8sRUFBRSxDQUFDLEdBQ1g7RUFqQkgsQUFrQkUsUUFsQk0sQ0FrQk4sYUFBYSxFQWxCZixBQWtCaUIsUUFsQlQsQ0FrQlMsYUFBYSxDQUFDO0lBQzNCLEtBQUssRUFBRSxLQUFLLEdBQ2I7RUFwQkgsQUFxQkUsUUFyQk0sQ0FxQk4sUUFBUSxDQUFDO0lBQ1AsS0FBSyxFQUFFLElBQUksR0FLWjtJQTNCSCxBQXVCSSxRQXZCSSxDQXFCTixRQUFRLENBRU4sQ0FBQyxDQUFDO01BQ0EsS0FBSyxFQUFFLE9BQU87TUFDZCxXQUFXLEVBQUUsR0FBRyxHQUNqQiJ9 */