body {
  background: #eaeaea;
}

#root {
  min-width: 230px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 550px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Helvetica";
}

.list {
  clear: both;
  width: 550px;
  background: #f7f7f7;
  z-index: 500;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  input[type=text] {
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    height: 40px;
    border: none;
    background-color: inherit;
    font-size: 20px;
    color: #666666;
    padding-right: 30px;
    box-shadow: none;
  }
  input[type=text]:focus {
    background-color: #fcfcfc;
    border: none;
  }
}

#new-task {
  background: #f7f7f7;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.task {
    width: auto;
    height: auto;
    border: solid 1px #cccccc;
    box-shadow: none;
    input[type=checkbox] {
      zoom: 1.6;
      float: left;
      margin: 0;
      padding: 0;
      margin-top: 7px;
      margin-left: 5px;
    }
    .text-container {
      position: relative;
      display: block;
      overflow: hidden;
      width: auto;
      .arrow {
        display: none;
        position: absolute;
        right: 3px;
        top: 7px;
        height: 30px;
        width: 30px;
      }
    }
    .task-description {
      padding:  5px 15px 5px 15px;
      border-top: solid 1px #dddddd;
      a {
        color: #aa5555;
        float: right;
      }
      .info {
        color: #444444;
      }
      span {
        font-family: "Helvetica";
        font-size: 15px;
      }
      textarea {
        display: block;
        border: solid 1px #cecece;
        border-radius: 5px;
        margin-top: 3px;
        width: 100%;
      }
    }
}

.done {
  input[type=text]{
    text-decoration: line-through;
  }
}

.task:hover {
  background: #fefefe;
}

.task:hover .text-container .arrow {
  display: block;
}

.summary {
  background: #eeeeee;
  width: 100%;
  box-sizing: border-box;
  height: 22px;
  border: 1px solid #AAAAAA;
  border-top: none;
  color: #656565;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 100;
  span {
    display: inline-block;
    height: 100%;
    font-family: "Helvetica";
    font-size: 14px;
    margin-right: 8px;
    padding: 0;
  }
  .summary-done, .summary-todo {
    float: right;
  }
  .actions {
    float: left;
    a {
      color: #666666;
      margin-left: 8px;
    }
  }
}

#user{
  float: right;
  width: auto;
  height: 20px;
  padding: 3px 5px;
  background: #f7f7f7;
  border: 1px solid #aaaaaa;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  img {
    width: 18px;
    vertical-align: middle;
    margin-right: 3px;
    padding-left: 0;
    margin-left: 0;
  }
  a {
    padding: 3px 5px;
    text-decoration: none;
    color: #666666;
  }

}
#user:hover {
  background: #ffffff;
}
